body{
  background-color: rgb(255, 233, 233);
}

.App {
  text-align: center;
  margin: 0 auto;
 
  width: 100%;
  display: flex;
  justify-content: center;
}

.myMianAgeDiv{
  display: flex;
  position: fixed;
  margin: 0 auto;

  margin-top: -100px;
  
  z-index: 0;
  width: 20%;
  justify-content: center;
}
.firework-canvas{
  z-index: 32543;
  position: fixed;
}
.mainAge-div{
  font-size: 300px;
  margin: 0 auto;
  color: rgb(255, 138, 138);

  font-family: sans-serif;

  margin-top: 100px;
  margin-left: -30px;
  
  font-weight: 900;

  z-index: -345;
}


@keyframes myMovingNumber {
  from {
    transform: translateY(0);

  }
  to {
    transform: translateY(-800px);

  }
}

@keyframes myMovingBackNumber {
  from {
    transform: translateY(700px);

  }

  to {
    transform: translateY(-20px);

  }
}

#age1{
  
  text-shadow: 2px 1px 10px rgb(213, 115, 115);

  margin-right: -20px;

  
}

#age2{
  

  animation-name: myMovingNumber;
  animation-duration: 5s;
  margin-left: -20px;
  text-shadow: 2px 1px 10px rgb(213, 115, 115);
}

#age3{
  

  animation-name: myMovingBackNumber;
  animation-duration: 1s;
  margin-left: -20px;

  animation-timing-function: ease;
  text-shadow: 2px 1px 10px rgb(213, 115, 115);
  opacity: 1; /* Set initial opacity to 1 */
}

.myMainPara-div{

  position: fixed;

  margin-top: 570px;

  



}
.myMessageDiv{
  
  margin-top: 70px;
  margin-bottom: -20px;

  padding: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  height: 0px;

  border-radius: 10px;

  height: fit-content;
  width: 270px;

  box-shadow: 2px 2px 10px rgba(107, 107, 107, 0.258);

  background-color: white;

  border: 2px solid rgb(254, 144, 234);
}
.myPara1{
  margin-top: -18px;

  font-family: "Tajawal";
  font-weight: 400;
  font-size: 18px;

  color:rgb(254, 144, 234);

  text-shadow: 1px 1px rgba(55, 55, 55, 0.344);
 

  text-align: start;
  direction: rtl;
  
}

.myButton{
  margin-top: 2px;

  margin-left: -50px;
  width: 100px;
  height: 40px;
  color: white;
  border: none;
  background-color: rgb(254, 144, 234);
  box-shadow: 2px 2px 10px rgb(183, 183, 183);
  border-radius: 5px;

  font-family: "Tajawal";
  font-weight: 700;
  font-size: 16px;

  position: fixed;
  z-index: 375;
}

.birthday-para{

     margin-top: -150px;
     
     font-weight: 400;

     font-size: 40px;

     color:rgb(255, 71, 80);

     margin-bottom: -10px;

     display: flex;

     margin-bottom: -90px;

}

#para-2{
  margin-top: -10px;
  
}

#myPara-0{
  color:rgb(71, 99, 255);
  text-shadow: 5px 5px 5px rgba(71, 99, 255, 0.314);
}

#myPara-1{
  color:rgb(157, 71, 255);
  text-shadow: 5px 5px 5px rgba(71, 71, 255, 0.314);
}

#myPara-2{
  color:rgb(255, 71, 252);
  text-shadow: 5px 5px 5px rgba(71, 71, 255, 0.272);
}

#myPara-3{
  color:rgb(255, 71, 71);
  text-shadow: 5px 5px 5px rgba(255, 71, 71, 0.314);
}

#myPara-4{
  color:rgb(71, 157, 255);
  text-shadow: 5px 5px 5px rgba(71, 157, 255, 0.314);
}

#myPara-5{
  color:rgb(197, 71, 255);
  text-shadow: 5px 5px 5px rgba(197, 71, 255, 0.314);
}

#myPara-6{
  color:rgb(212, 71, 255);
  text-shadow: 5px 5px 5px rgba(212, 71, 255, 0.314);
}

#myPara-7{
  color:rgb(71, 95, 255);
  text-shadow: 5px 5px 5px rgba(71, 95, 255, 0.314);
}

#myPara-8{
  color:rgb(154, 71, 255);
  text-shadow: 5px 5px 5px rgba(71, 71, 255, 0.314);
}

#myPara-9{
  color:rgb(71, 102, 255);
  text-shadow: 5px 5px 5px rgba(71, 102, 255, 0.314);
}

#myPara-5{
  margin-right: 10px;
}

balloons-container {
  position: relative;
}

.balloon {
  width: 500px; /* Adjust the size of the balloons as needed. */
  height: 320px;
  margin: 0 auto;
  background: url('https://www.freepnglogos.com/uploads/balloons-png/colorful-balloons-png-image-pngpix-31.png') no-repeat center center;
  background-size: cover;
  position: absolute;
  animation: float 4s linear infinite; /* Apply the floating animation. */
  z-index: 0;
}

.balloon-1 {
  left: -25%; /* Position the first balloon. */
  top: -490px;
}

.balloon-2 {
  left: 40%; /* Position the second balloon. */
  top: 85%;
}

.balloon-3 {
  left: 60%; /* Position the third balloon. */
  top: 90%;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.firework-canvas {
  position: relative;
  top: 0;
  left: 0;
  z-index: -4230;

}